<div class="container">

    <div>
        <div class="row">
            <h2 class="imageDetailName">{{imageDetails.name}}</h2>

        </div>
        <div class="row">
            <div class="col-md-5 col-xs-4">
                <img id="detailImage" class="thumbnail" ng-src="{{imageDetails.image}}" />
            </div>
            <div class="col-md-7 col-xs-12">
                <br/>
                <blockquote class="imageDescription"><em>{{imageDetails.description}}</em></blockquote>
            </div>
        </div>
    </div>

</div>
