<div class="container row">
<div ng-repeat="dp in images">
        <div class="col-sm-6 col-md-2">
            <div class="hovereffect">
                <img class="img-responsive" ng-src="{{dp.image}}" alt="{{dp.name}}" style="width: 168px; height: 168px;">
               <div class="overlay">
                    <h2 style="word-wrap: break-word">{{dp.name}}</h2>
                    <p><a href="#/detail/{{dp.name}}" class="info" role="button">More Details</a></p>
                </div>
            </div>
        </div>
</div>
</div>