<div class="container">
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-sm-3 col-md-3" ng-repeat="dp in images | orderBy: 'name'">
                    <div class="hovereffect">
                    <img ng-src="{{dp.image}}" alt="{{dp.name}}" />
                        <div class="overlay">
                            <h2 style="word-wrap: break-word">{{dp.name}}</h2>
                            <a class="info" href="#/detail/{{dp.name}}" role="button">More Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">

        </div>
    </div>
</div>